
.footer-wrapper{
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;

    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .footer-content{
        border-top: 1px solid #424245;
        font-weight: 300;
        margin: 0 auto;
        max-width: 980px;
        letter-spacing: 0.1em;
        .breadcrumbs{
            overflow: hidden;
            position: relative;
            color:#a1a1a6;
            padding:17px 0;
            z-index: 1;
            .breadcrumbs-home{
                .home-icon{
                    color:#f5f5f7;

                }
            }
            .breadcrumbs-path{
                font-size: 12px;
                line-height: 1.3337;
                font-weight: 400;
                letter-spacing: -.01em;
                position:relative;
                z-index:1;
                display: flex;
            }
            .breadcrumbs-home{
                margin-right: 11px;
                margin-top: 3px;

            }
            .breadcrumbs-list{
                display: flex;
                flex-direction: row;
                .breadcrumbs-item{
                    text-decoration: none;
                    margin-left: 7px;
                    padding: 3px 4px 3px 0;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    .breadcrumbs-link{
                        text-decoration: none;
                        font-size: 12px;
                        color:#a1a1a6;
                    }
                    
                }
                 .breadcrumbs-item::before{
                    width: 8px;
                    height: 36px;
                    background-size: 8px 36px;
                    background: url('/iphone12-pro/assets/img/icon_dark_large.svg') no-repeat;
                    padding-top:20px;
                    background-position-y: 100%;
                }
               
            }
         }

         .nav-footer{
            display: flex;
            flex-direction: row;
            .footer-column-section{
                flex-basis: 25%;
                font-size: 1em;
                font-weight: inherit;
                line-height: inherit;
                h3{
                    color:#f5f5f7;
                    margin:0 20px 9.6px 0;
                    font-size: 12px;
                }
                .column-section-list{
                    list-style: none;
                    margin-right: 20px;
                    padding:0;
                    .column-section-item{
                        display: block;
                        margin-bottom: 0.8em;
                        a{
                            color:#a1a1a6;
                            text-decoration: none;
                         }
                    }
                    
                    
                }

            }
        
        }
        .nav-footer-lower{
            padding:60px 0;
            position: relative;
            bottom:0;
            border-color: #424245;
            color: #6e6e73;
            border-top: none;
            .footer-shop{
                margin-bottom: 7px;
                padding-bottom: 8px;
                border-bottom: 1px solid #424245;
                a{
                    color:#2997ff;
                    text-decoration: none;
                }
            }
            .footer-locale{
                float: right;
                margin-top: 5px;
                position: relative;
                top: -3px;
                z-index: 2;
                white-space: nowrap;
                .footer-locale-link{
                    color:#a1a1a6;
                    font-size: 12px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                        color:#fff;
                    }
                }
            }
            .footer-legal{
                display: flex;
                flex-direction: row;
                .footer-legal-copyright{
                    color:#6e6e73;
                    font-size: 12px;
                    font-weight: 300;
                    margin-top:5px;
                    margin-right:30px;
                }
                .link-item{
                    border-right: 1px solid #424245;    
                    margin-right: 7px;
                    padding-right: 10px;
                    display: inline-block;
                    margin-top: 5px;
                    white-space: nowrap;
                    color:#a1a1a6;
                    text-decoration: none;   
                    &:hover{
                        text-decoration: underline;
                        color:#fff;
                    }       
                }
            }
        }
    }
   
}