@use '../layout/navigation';


.nav-bar{
    margin:0 auto;
    padding:0 22px;
    max-width: 980px;
    position:relative;
    z-index: 999;
    .nav-list{
        // z-index: 99;
        color:#9f9f9f;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height:44px;
        width:100%;
        font-size: 17px;
        backdrop-filter: blur(6px);
    }
    .list-item{
        list-style: none;
        box-sizing: border-box;
        display:inline-block;
        position:relative;
        z-index: 1;
        vertical-align: top;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
        cursor: pointer;
        i{
            font-size: 20px;
        }
        .arrow-up {
            visibility: hidden;
            height: 0;
            width: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #fff;
            position: absolute;
            top:35px;
            right:12px;
            z-index: 9999;
        }
        .bag-icon{
            height:40px;
            width: 40px;
            padding-top:5px;
        }
    }
    .nav-link{
        font-size:14px;
        line-height:3.14286;
        font-weight:400;
        letter-spacing: -.01em;
        font-family:sans-serif;
        color:#f5f5f7;
        position:relative;
        z-index:1;
        display:inline-block;
        padding:0 10px;
        height:44;
        opacity:.8;
        white-space:nowrap;
        text-decoration:none;
        outline-offset:-7px;  
    }
    .nav-link-apple{
        background-size:16px 44px;
        display: block;
        background: url('/iphone12-pro/assets/img/apple_logo.svg') no-repeat center center;
        width: 40px;
        height:40px;
    }
    .nav-link-text{
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
        clip-path: inset(0px 0px 99.9% 99.9%);
        overflow: hidden;
        height: 1px;
        width: 1px;
        padding: 0;
        border: 0;
        top: 50%;
    }
    .list-categories{ 
        opacity:0.5;
        visibility: hidden;
        display: flex;
        flex-direction: row;
        background-color:#fff;
        justify-content:space-around;
        position: absolute;
        width:100%;
        height:100px;
        margin-top: 5px;
        margin-left: 100px;
        left:40px;
        transition: opacity 300ms ease;
        li{
            list-style: none;
            background-color: #fff;
        }
        img{
            width:100px;
            height:70px;
            z-index: 9999;
        }     
    }  
    .nav-list .list-item:hover{
        .list-categories{
            opacity:1;
            visibility: visible;
        }
    }

    .search-wrapper{
        width:628px;
        margin:auto;
        display: none;
        z-index: 99999;
        .search-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 44px;
            font-size: 12px;
            color:#707070;
            transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); 

            .searchtext{
                display: flex;
                width: 100%;
                align-items: center;
                 .search-icon{
                    font-size: 18px;
                    opacity: 0.8;
                    width:38px;
                    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); 
                }
                .search-input{
                    width: 100%;
                    input{
                        font-size: 17px;
                        line-height: 1.29412;
                        letter-spacing: -.021em;
                        outline:none;
                        color: #fff;
                        border:none;
                        background: #000;
                        font-size:16px;
                        width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); 
                       
                    }
                }
            }
            .close-wrapper{
                font-size:18px;
                opacity: 0.8;
                color: #86868b;
                padding:10px 10px 0 0;
                cursor: pointer;
                transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25);
                &:hover{
                    opacity: 1;
                }
            }
           
        }
        .quick-links{
            display: flex;
            flex-direction: column;
            height:240px;
            background-color: #fff;
            line-height: 1.6;
            border-bottom-left-radius: 18px;
            border-bottom-right-radius: 18px;
            font-size: 14px;
            .quick-links-items{
                display: flex;
                flex-direction: column;
                padding: 24px 40px;
                h3{
                    color:#6e6e73;
                    font-size: 12px;
                    font-weight: 350;
                }
                a {
                    text-decoration: none;
                    font-size: 14px;
                    color: #1d1d1f;
                    padding: 0 16px;
                    margin: 6px 0;
                    &:hover {
                        color: #06c;
                        background-color: #f5f5f7;
                    }
                }
            }
        }
    }

    // ul li ul {
    //     opacity:0.5;
    //     visibility: hidden;
    //     display: flex;
    //     flex-direction: row;
    //     background-color:#fff;
    //     justify-content:space-around;
    //     position: absolute;
    //     width:100%;
    //     height:100px;
    //     margin-top: 5px;
    //     margin-left: 100px;
    //     left:40px;
    //     transition: opacity 300ms ease;
    //     li{
    //         list-style: none;
    //         background-color: #fff;
    //     }
    //     img{
    //         width:100px;
    //         height:70px;
    //         z-index: 9999;
    //     }
    // }
    // ul li:hover ul {
    //     opacity: 1;
    //     visibility: visible;
    // }

    //  ul li:hover .nav-product-wrapper{
    //     opacity: 0;   
    // }


   
}
.nav-product-bar{
    opacity:1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
    padding:0 22px;
    max-width: 980px;
    position:relative;
    z-index: 2;
    .title{
        display:block;
        margin:14px 0 -14px;
        padding:0;
        height:52px;
        white-space:no-wrap;
        cursor:default;
        font-weight:600;
        font-size:21px;
        letter-spacing:00.11em;
        a{
            text-decoration: none;
            color:#fff;
            opacity:.92;
            letter-spacing:inherit;
        }
    }
    .menu{
       width:250px;
       font-size: 12px;
       line-height: 1;
       font-weight:400;
       letter-spacing: -.01em;
       margin-top:-3px;
    }
    .menu-link{
        display: flex;
        flex-direction: row;        
        justify-content:flex-end;
        align-items: center;
        height:44px;
        font-size:1em;
        margin:0 -10px;
    }
    .menu-item{
        text-decoration: none;
        list-style: none;
        font-weight: 400;
        color: #9f9f9f;
        margin-left:24px;
        .menu-item-link{
            opacity:.56;
            display: inline-block;
            line-height: 22px;
            white-space: nowrap;
            text-decoration: none;
            opacity:.92;
            letter-spacing:inherit;
        }
        a{
            color:#fff;
            font-weight: inherit;
        }
    }  
    .buy-button{
        cursor: pointer;
        display:inline-block;
        text-align: center;
        background:#0071e3;
        color:#fff;
        white-space: nowrap;
        font-size: 12px;
        line-height: 1.33337;
        font-weight: 400;
        letter-spacing: -.01em;
        min-width: 23px;
        padding:4px 11px;
        border-radius: 12px;
        text-decoration: none;

        .action-buy-button{
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
            clip-path: inset(0px 0px 99.9% 99.9%);
            overflow: hidden;
            height: 1px;
            width: 1px;
            padding: 0;
            border: 0;
            top: auto;
            left: auto;
        }
    }
    
}
