.nav-wrapper {
  display: block;
  z-index: 999;
  min-width: 1024px;
  color: #fff;
}

.nav-product-wrapper {
  opacity: 1;
  visibility: visible;
  position: sticky;
  top: 0;
  left: 0;
  min-width: 1024px;
  z-index: 99;
  height: 52px;
  background: rgba(0, 0, 0, 0.8);
}

.nav-bar {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 980px;
  position: relative;
  z-index: 999;
}
.nav-bar .nav-list {
  color: #9f9f9f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 100%;
  font-size: 17px;
  backdrop-filter: blur(6px);
}
.nav-bar .list-item {
  list-style: none;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  z-index: 1;
  vertical-align: top;
  opacity: 0.8;
  cursor: pointer;
}
.nav-bar .list-item:hover {
  opacity: 1;
}
.nav-bar .list-item i {
  font-size: 20px;
}
.nav-bar .list-item .arrow-up {
  visibility: hidden;
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: 35px;
  right: 12px;
  z-index: 9999;
}
.nav-bar .list-item .bag-icon {
  height: 40px;
  width: 40px;
  padding-top: 5px;
}
.nav-bar .nav-link {
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: sans-serif;
  color: #f5f5f7;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  height: 44;
  opacity: 0.8;
  white-space: nowrap;
  text-decoration: none;
  outline-offset: -7px;
}
.nav-bar .nav-link-apple {
  background-size: 16px 44px;
  display: block;
  background: url("/iphone12-pro/assets/img/apple_logo.svg") no-repeat center center;
  width: 40px;
  height: 40px;
}
.nav-bar .nav-link-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}
.nav-bar .list-categories {
  opacity: 0.5;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100px;
  margin-top: 5px;
  margin-left: 100px;
  left: 40px;
  transition: opacity 300ms ease;
}
.nav-bar .list-categories li {
  list-style: none;
  background-color: #fff;
}
.nav-bar .list-categories img {
  width: 100px;
  height: 70px;
  z-index: 9999;
}
.nav-bar .nav-list .list-item:hover .list-categories {
  opacity: 1;
  visibility: visible;
}
.nav-bar .search-wrapper {
  width: 628px;
  margin: auto;
  display: none;
  z-index: 99999;
}
.nav-bar .search-wrapper .search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 44px;
  font-size: 12px;
  color: #707070;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.nav-bar .search-wrapper .search-container .searchtext {
  display: flex;
  width: 100%;
  align-items: center;
}
.nav-bar .search-wrapper .search-container .searchtext .search-icon {
  font-size: 18px;
  opacity: 0.8;
  width: 38px;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.nav-bar .search-wrapper .search-container .searchtext .search-input {
  width: 100%;
}
.nav-bar .search-wrapper .search-container .searchtext .search-input input {
  font-size: 17px;
  line-height: 1.29412;
  letter-spacing: -0.021em;
  outline: none;
  color: #fff;
  border: none;
  background: #000;
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.nav-bar .search-wrapper .search-container .close-wrapper {
  font-size: 18px;
  opacity: 0.8;
  color: #86868b;
  padding: 10px 10px 0 0;
  cursor: pointer;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25);
}
.nav-bar .search-wrapper .search-container .close-wrapper:hover {
  opacity: 1;
}
.nav-bar .search-wrapper .quick-links {
  display: flex;
  flex-direction: column;
  height: 240px;
  background-color: #fff;
  line-height: 1.6;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  font-size: 14px;
}
.nav-bar .search-wrapper .quick-links .quick-links-items {
  display: flex;
  flex-direction: column;
  padding: 24px 40px;
}
.nav-bar .search-wrapper .quick-links .quick-links-items h3 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 350;
}
.nav-bar .search-wrapper .quick-links .quick-links-items a {
  text-decoration: none;
  font-size: 14px;
  color: #1d1d1f;
  padding: 0 16px;
  margin: 6px 0;
}
.nav-bar .search-wrapper .quick-links .quick-links-items a:hover {
  color: #06c;
  background-color: #f5f5f7;
}

.nav-product-bar {
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 22px;
  max-width: 980px;
  position: relative;
  z-index: 2;
}
.nav-product-bar .title {
  display: block;
  margin: 14px 0 -14px;
  padding: 0;
  height: 52px;
  white-space: no-wrap;
  cursor: default;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0.11em;
}
.nav-product-bar .title a {
  text-decoration: none;
  color: #fff;
  opacity: 0.92;
  letter-spacing: inherit;
}
.nav-product-bar .menu {
  width: 250px;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin-top: -3px;
}
.nav-product-bar .menu-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 44px;
  font-size: 1em;
  margin: 0 -10px;
}
.nav-product-bar .menu-item {
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  color: #9f9f9f;
  margin-left: 24px;
}
.nav-product-bar .menu-item .menu-item-link {
  opacity: 0.56;
  display: inline-block;
  line-height: 22px;
  white-space: nowrap;
  text-decoration: none;
  opacity: 0.92;
  letter-spacing: inherit;
}
.nav-product-bar .menu-item a {
  color: #fff;
  font-weight: inherit;
}
.nav-product-bar .buy-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background: #0071e3;
  color: #fff;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  min-width: 23px;
  padding: 4px 11px;
  border-radius: 12px;
  text-decoration: none;
}
.nav-product-bar .buy-button .action-buy-button {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: auto;
  left: auto;
}

.video-wrapper {
  margin: 0 auto;
  max-width: 980px;
  box-sizing: border-box;
}
.video-wrapper .video-container {
  position: relative;
  top: 250px;
  left: 24px;
  width: 1352px;
  transform: matrix(1, 0, 0, 1, 0, -64.3332);
  will-change: transform;
  transition: opacity 1s ease-in;
  opacity: 1;
  overflow: hidden;
}
.video-wrapper .video {
  width: 100%;
}
.video-wrapper .image-startframe {
  opacity: 0;
}
.video-wrapper .image-endframe {
  opacity: 1;
}

.sub-container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.bag-container {
  visibility: hidden;
  position: absolute;
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 400;
  letter-spacing: -0.014em;
  background: #fff;
  border: 1px solid #d2d2d7;
  border-radius: 18px;
  margin-top: 6px;
  width: 286px;
  right: -148px;
}
.bag-container .bag-content {
  padding: 0 20px;
  z-index: 9999;
  margin-bottom: 10px;
}
.bag-container .bag-content .bag-message {
  color: #6e6e73;
  padding: 35px 0 23px;
  margin: 0;
  text-align: center;
  letter-spacing: -0.016em;
}
.bag-container .bag-content .bag-nav-list {
  background-color: #fff;
  padding: 0;
  margin: 12px 0 0;
  list-style: none;
  align-items: center;
}
.bag-container .bag-content .bag-nav-list .bag-nav-item {
  align-items: center;
  display: flex;
  margin: 0;
  line-height: 44px;
  border-top: 1px solid #d2d2d7;
}
.bag-container .bag-content .bag-nav-list .bag-nav-item a {
  text-decoration: none;
  color: #06c;
}
.bag-container .bag-content .bag-nav-list .bag-nav-item .img-bag {
  align-items: center;
  height: 23px;
  width: 23px;
  margin-right: 10px;
}

.footer-wrapper {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.footer-wrapper .footer-content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 30px;
}
.footer-wrapper .footer-content .nav-footer {
  display: flex;
  flex-direction: row;
}
.footer-wrapper .footer-content .nav-footer .footer-column-section {
  flex-basis: 25%;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
}
.footer-wrapper .footer-content .nav-footer .footer-column-section h3 {
  color: #f5f5f7;
  margin: 0 20px 9.6px 0;
  font-size: 12px;
}
.footer-wrapper .footer-content .nav-footer .footer-column-section .column-section-list {
  list-style: none;
  margin-right: 20px;
  padding: 0;
}
.footer-wrapper .footer-content .nav-footer .footer-column-section .column-section-list .column-section-item {
  display: block;
  margin-bottom: 0.8em;
}
.footer-wrapper .footer-content .nav-footer .footer-column-section .column-section-list .column-section-item a {
  color: #a1a1a6;
  text-decoration: none;
}
.footer-wrapper .footer-content .nav-footer-lower {
  border-color: #424245;
  color: #6e6e73;
  border-top: none;
  padding-top: 34px;
}
* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

.main-container {
  width: 100%;
  background-color: #000;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr, button {
  margin: 0;
  padding: 0;
}

.iphone12-pro {
  margin: auto;
  width: 980px;
}
.iphone12-pro .iphone12-pro-container {
  visibility: hidden;
  transition: all 0.5s linear;
  opacity: 0;
  z-index: 999;
  position: absolute;
  padding: 72px 0;
  color: #fff;
  margin-top: 40px;
  width: inherit;
  align-items: center;
}
.iphone12-pro .iphone12-pro-container .iphone12-text {
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 600;
  letter-spacing: 0.011em;
  text-align: center;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.iphone12-pro .iphone12-pro-container .iphone12-headline {
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
}
.iphone12-pro .video-detail {
  position: relative;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 66.67%;
}
.iphone12-pro .video-detail .intro {
  color: #a1a1a6;
  align-items: center;
  font-size: 24px;
  letter-spacing: 0.009em;
  line-height: 1.16667;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.iphone12-pro .video-detail .intro-price {
  color: #a1a1a6;
  text-align: center;
  margin-top: 50px;
}
.iphone12-pro .video-detail .intro-copy {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.011em;
  line-height: 1.19048;
}
.iphone12-pro .video-detail .watch-link-wrapper {
  margin-top: 50px;
  margin-left: 40%;
}
.iphone12-pro .video-detail .watch-link-wrapper a {
  margin: 0 auto;
  font-size: 21px;
  font-weight: 600;
  text-decoration: none;
  color: #f5f5f7;
  text-align: center;
}

.subsection-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}
.subsection-content .video-design-compare {
  width: 320px;
  height: 628px;
}

/*# sourceMappingURL=main.css.map */
